:root{
    --hue-neutral:250;
}

.hide{
    display: none;
}

body{
    font-family: Helvetica;
    color: #565656;
    background-color: darkgrey;
    font-size: medium;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*header*/
header{
    background-color: #30475e;
    border: .2em solid darkgrey;
    border-radius: 1em;

    padding: 1em 2em 1em 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
}

H1{
    font-family: Audiowide;
    color: White;
    padding-left: .5em;
}

/*wrap with nav and main*/
#wrap{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 61vh;
}

nav{
    background-color: #222831;
    border: .2em solid darkgrey;
    padding: 1em 1em 1em 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    max-height: 5vh;
}

nav a {
    text-decoration: none;
    font-size: 1em;
    color: #818181;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: none;
    background: none;
    width:100%;
    cursor: pointer;
    outline: none;
}

nav a:hover{
    color: #f1f1f1;
}

main{
    background-color: #f2a365;
    border: .2em solid darkgrey;
    border-radius: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4 1;
    flex-direction: column;
    padding: 1em 1em 1em 1em;
}

main p{
    padding: .5em .25em .5em .25em;
    text-align: center;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 1em;
    margin: 1em 0;
}

.btn{
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 0%, 30%);
    background-color: lightgrey;
    border-radius: .5em;
    padding: 1em 1em;
    color: white;
    outline:none;
    font-size: 1rem;
    font-weight: bold;
}

.btn:hover{
    border-color: black;
    background-color: grey;
    cursor: pointer;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

#question, #task{
    text-align: center;
    font-size: 1.5rem;
}

#end-text p{
    margin: 1em 0 1em 0;
}

.inline{
    display: inline;
}

#score, #odds{
    color: #f1f1f1;
}

/*footer*/
footer{
    background-color: #30475e;
    border: .2em solid darkgrey;
    color: #f1f1f1;
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    padding: 1em 3em 1em 3em;
}

#myProgress {
    width: 100%;
    background-color: grey;
    border-radius: .5em;
}

#myBar {
    width: 0%;
    height: 30px;
    background-color: green;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: .5em;
}

#copyright{
    font-size: .7em;
    text-decoration: none;
    padding: 3em 2em 1em 2em;
}

@media (min-width: 649px){
    #wrap {flex-direction: row}
    nav {flex-direction: column; justify-content: flex-start;max-height: 61vh;}
    nav a{display: block;text-align: left; padding-top: 1em;}
    .btn{
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1em 2em;
    }

}