

H1{
    font-family: "American Typewriter";
}

#header{
    background-color: cadetblue;
    border: .2em solid darkgrey;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    height: 15vh;
}

#navigation{
    background-color: mediumpurple;
    border: .2em solid darkgrey;
    padding-left: 1em;
    padding-top: 1em;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    flex: 1 1;
}

#content{
    background-color: bisque;
    border: .2em solid darkgrey;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4 1;
}

#sidebar{
    background-color: coral;
    border: .2em solid darkgrey;
    padding-top: 1em;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1;
}

#wrap{
    display: flex;
    flex-direction: row;
    height: 70vh;
}

#footer{
    background-color: cadetblue;
    height: 15vh;
    border: .2em solid darkgrey;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}